*{
   

}

.Superior{

    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.inferiror{

    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.cuadro{
    block-size: auto;
    background-color: aqua;
    border-color: black;
    border-radius: 15px;
    border-bottom: 2px;
    padding: 1px;
    width: 250px;
    height: 300px;
 border: rgb(0, 0, 255) 3px dashed;
}
.exit{
    display: block;
    flex-direction: row;
    text-align: center;
}